@item-width: 200px;

*, section.contentbox article header nav {
  ul.actionmenu {
    list-style-type: none;
    padding-left: 3px;
    position: relative;

    li {
      padding: 3px;
      border: 1px solid @content-color-20;

      ul {
        display: none;
        list-style-type: none;
        width: @item-width;
        z-index: 999;
      }

      &:hover {
        background-color: @content-color-40;
        border: 1px solid @content-color-60;

        ul {
          display: inline-block;
          position: absolute;
          right: 0;
          width: @item-width;

          li {
            background-color: @content-color-20;
            border: 1px solid @content-color-20;
            border-bottom: 1px solid @content-color-60;
            padding: 3px;
            text-align: right;
            width: @item-width;

            ul {
              display: none;
            }

            &:hover {
              background-color: @content-color-40;
              border: 1px solid @content-color-60;

              ul {
                display: inline-block;
                right: @item-width + 6px;
                top: 2em;
              }
            }

          }
        }
      }
    }
  }
}
