@shadow: 1px 1px 0 @dark-gray-color-60;
@item-width: 150px;

/* Structure for action submenus which open on hover */
*, section.contentbox article header nav {
  ul.actionmenu {
    list-style-type: none;
    padding: 3px;
    position: relative;

    &:hover {
      background-color: white;
      box-shadow: @shadow;
      z-index: 999;
    }

    ul {
      display: none;
      background-color: white;
      box-shadow: @shadow;
      padding: 3px;
      width: @item-width;
    }

    // Styling for submenus
    li:hover {
      // Position submenu to the left of the current entry
      > ul {
        display: block;
        position: absolute;
        right: @item-width;
        top: 0;

        li {
          display: block;
          width: @item-width;

          a {
            display: inline;
            text-align: right;

            img {
              padding-left: 5px;
            }
          }
        }
      }

      &:not(:first-child) > ul {
        top: 2em;
      }
    }

    // First submenu is positioned directly under action icon
    > li:hover {
      > ul {
        display: block;
        position: absolute;
        right: 0;
        top: inherit;
      }
    }
  }
}
