.rule {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

.rule_actions {
    display: none;
    margin-left: 10px;
}

.rule:hover .rule_actions {
    float: right;
    display: inline-block;
}

.condition {
    margin-left: 20px;
}