@import (inline) '../vendor/cropper.css';

/* --- Avatars of users, courses and institutes ----------------------------- */
.avatar-small {
    vertical-align: middle;
    .size(25px, 25px);
}
.avatar-medium { 
    max-width: 100px;
    height: 100px; 
}
.avatar-normal { 
    max-width: 250px;
    height: 250px; 
}

.course-avatar-small {
    vertical-align: middle;
    max-width: 25px;
    height: 25px;
}
.course-avatar-medium { 
    max-width: 100px;
    height: 100px; 
}
.course-avatar-normal {
    max-height: 250px;
    width: 250px;
}

div.avatar-widget {
    position: relative;

    .profile-avatar {
        vertical-align: middle;
        margin: 5px 0px;
    }

    div.avatar-overlay {
        .transition(opacity .5s ease-in-out);
        background-color: ~"@{base-color}aa";
        opacity: 0;
        height: 260px;
        left: 0;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 0;
        vertical-align: middle;
        width: calc(100% - 20px);

        &:hover {
            display: table;
            opacity: 1;
        }

        p {
            display: table-cell;

            a {
                color: @white;
                display: block;
                font-size: @font-size-large;
                height: 100%;
                padding-top: calc(50% - 2em);
                width: 100%;
            }
        }
    }
}

#custom_avatar label {
    display: block;
    font-weight: bold;
}

div#avatar {
    img {
        max-width: 100%;
    }
}

form.avatar {
    div {
        &#avatar-preview {
            height: 250px;
            margin-left: auto;
            margin-right: auto;
            width: 250px;

            img#new-avatar {
                height: 250px;
                width: 250px;
            }
        }

        &#avatar-buttons {
            background-color: @light-gray-color-20;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            text-align: center;
            width: 150px;
        }

    }
}
