.documents {
    .chdir-up a {
        display: block;
    }
    .document-icon, .empty {
        text-align: center;
    }
    .options {
        text-align: right;
    }
    caption header {
        margin-left: 40px;
        h2 {
            border: 0;
            font-size: inherit;
            margin: 0;
            padding: 0;
        }
        p {
            font-size: 0.7em;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }
    }
    .bread-crumbs {
        display: inline-block;
        position: relative;
        min-height: 1.5em;
        float: left;
        width: 40px;
    
        > a, ul {
            background-color: #fff;
            border-radius: 2px;
            padding: 5px;
        }

        &.extendable:hover {
            > a, > ul {
                box-shadow: 0 4px 5px #444;
            }
            ul {
                -ms-box-orient: horizontal;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -moz-flex;
                display: -webkit-flex;
                display: flex;
    
                -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }
        }
    
        ul {
            display: none;
            list-style: none;
            margin: 0;
            position: absolute;
        }
        li {
            line-height: 1.5em;

            a {
                background-image: url("@{image-path}/icons/24/blue/folder-down.png");
                background-position: left center;
                background-repeat: no-repeat;
                padding-left: 30px;
            }
            &:first-child a {
                background-image: url("@{image-path}/icons/24/blue/folder-empty.png");
            }
        }
    }
}

.document-dialog {
    @info-width: 120px;
    .clearfix;
    aside {
        float: left;
        width: @info-width;
    }
    div {
        border-left: 1px dashed #888;
        margin-left: @info-width;
        min-height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
}
