.file_uploader {
    display: none;

}
.uploadbar {
    padding: 10px;
    background-image: linear-gradient(@base-color, @base-color);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border: @base-color solid 1px;
}