.file_uploader {
    display: none;

}
.uploadbar {
    padding: 10px;
    background-image: linear-gradient(@base-color, @base-color);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border: @base-color solid 1px;
}
.file_select_possibilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    > * {
        background-color: transparent;
        margin: 10px;
        border: thin solid @content-color-20;
        padding: 5px;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        > img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    > button {
        cursor: pointer;
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        height: 140px;
        min-height: 140px;
        max-height: 140px;
        color: @base-color;
    }
    
    
    /* for file/edit view: */
    
    /*
    .termsOfUseBox.selected {
        background-color: black;
    }*/
    
    
    input[name=content_terms_of_use_id] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    div {
        background-color:navy;
    }
    
    input[name=content_terms_of_use_id]:checked ~ div {
        background-color: black;
    }
    
}
