/* --- header.css ----------------------------------------------------------- */
#layout_wrapper {
    padding-top: @bar-bottom-container-height;
}
#barBottomContainer {
    background-color: @base-color;
    border: 1px @brand-color-darker;
    color: @contrast-content-white;
    border-bottom-style: solid;
    height: @bar-bottom-container-height;

    width: 100%;
    position: relative;

    .flex();
    .flex-direction-row();
    .flex-wrap(nowrap);
    .flex-justify-content(space-between);

    .translate(0, 0) !important; // We need !important due to the horizontal scroll handler
    position: fixed;
    top: 0px;
    z-index: 10000;

    #barBottomLeft {
        padding: 0 15px;
        z-index: 2;
    }
}

#barBottomright, #layout_footer {
    a {
        color: @contrast-content-white;
        margin: 0 6px;
        text-decoration: none;
        &:hover { color: @contrast-content-hovergray; }
    }

    > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        height: 30px;
        padding: 0;
        > li {
            margin: 2px;
        }
    }
}

#barTopAvatar {
    display: inline;
    /*position: absolute;*/
    bottom: -45px;
    right: -40px;
    padding-bottom: 20px !important;

    &.fixed {
        position: relative;
        bottom: 1px;
        right: 2px;
    }

}

#barTopAvatar, #header_avatar_menu {

    #header_avatar, .action-menu-icon {
        border: 1px solid @base-color;
        background: @dark-gray-color-5;
        height: 42px;
        width: 42px;
        z-index: 1;
        position: relative;
        top: 35px;
        left: 44px;

        img {
            height: 100%;
            width: 100%;
        }

        &.fixed {
            .border-radius(1px);
            border: thin solid @base-color-20;
            height: 19px;
            width: 19px;
            top: 21px;
            left: 41px;
        }

    }

    .action-menu-title{
        margin: 0em 0 0.3em;
    }

    .action-menu-content {
        z-index: 1002;
        position: absolute;
        top: 89px;
        right: -42px;
        padding: 4px 28px 4px 8px;
        background: #fff;
        box-shadow: 1px 1px 1px @dark-gray-color-60;
        text-align: left;
        white-space: nowrap;

        &.fixed {
            top: 20px;
            right: -42px;
        }

        a {
            color: @base-color;
        }

        div {
            color: #000;
        }
    }
/*
    .action-menu-content:before, .action-menu-content:after {
        bottom: 100%;
        right: 13px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .action-menu-content:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #8b8f95;
        border-width: 9px;
        margin-left: -8px;
    }
    .action-menu-content:after {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #e7ecf2;
        border-width: 8px;
        margin-left: -8px;
    }
*/
}

.header_avatar_container, #header_avatar_menu .action-menu-icon {
  z-index: 1003;
}

#notification_marker {
    //.transition(all 1s);
    width: 25px;
    padding-left: 10px;
    padding-right: 65px;
    height: 25px;
    font-size: 0.8em;
    color: @base-color;
    text-align: center;
    line-height: 25px;
    vertical-align: text-bottom;
    background-color: transparent;

    &.alert {
        border: thin solid @white;
        background-color: @public-course-bgcolor;
        color: @white;
    }
}

#notification_container {
    @arrow-height: 10px;

    .border-radius(2px);
    //.transition(all 1s);
    width: 100px;
    height: 25px;
    border: thin solid @dark-gray-color-20;
    color: @base-color;
    vertical-align: text-bottom;
    background-color: @white;
    position: relative;

    // Insert invisible padding on top of the arrow in order to try to
    // close the "mouse trap gap" created by the arrow
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -@arrow-height;
        left: 0;
        right: 0;
        height: @arrow-height;
    }

    &.fixed {
        width: 60px;
        height: 19px;

        #notification_marker {
            width: 29px;
            padding-left: 5px;
            padding-right: 5px;
            height: 19px;
            line-height: 19px;
        }
    }
    .list, li&:hover .list { display: none; }
    &.hoverable:hover {
        .list { display: block; }
    }
    #notification_list {
        z-index: 1001;
        margin-top: 10px;
        ul {
            width: 100%;
            padding: 0;
        }
        .more {
            font-size: 0.8em;
            text-align: center;
        }
    }
    .list {
        // Creates an arrow pointing from the list to the triggering element
        #arrow > .top-border(10px, @white, 1px, @light-gray-color-80);

        @width: 400px;

        background-color: @white;
        border-left: thin solid @light-gray-color-60;
        border-top: thin solid @light-gray-color-60;
        border-collapse: collapse;
        color: @black;
        display: none;
        font-size: 1em;
        position: absolute;
        width: @width;
        max-width: @width;
        .box-shadow(1px 1px 1px @light-gray-color-80);

        // Without this, buttons or message boxes would appear on top of the list
        z-index: 2;
        &::before, &::after {
            left: (@width - 20px);
        }

        // Positions: below or left'ish or right'ish to the triggering element
        &.below {
            left: ((-@width) + 40px);
        }
        &.left {
            right: 0px;
            &:before {
                left: auto;
                right: 4px;
            }
        }
        &.right {
            left: 0px;
            &:before { left: 4px; }
        }

        // List item
        .item {
            @padding: 5px;
            .clearfix();
            border-top: thin solid @light-gray-color-60;
            line-height: 20px;
            display: block;
            height: auto;
            padding: @padding;
            white-space: normal;

            &:hover { background-color: fadeout(@light-gray-color, 80%);}

            &:first-child:hover {
                #arrow > .top(10px, fadeout(@light-gray-color, 80%));
                margin-top: 0;
                &::before {
                    left: (@width - 20px);
                    z-index: 2;
                }
            }

            // First child: no top-border and but rounded corners
            &:first-child {
                border-top: 0;
            }
            // Last child: rounded corners
            &:last-child { .border-bottom-radius(5px); }


            .content {
                .flex();
                .flex-direction-row();
                .flex-wrap(nowrap);

                .avatar {
                    @avatar-size: 40px;
                    margin-right: 10px;
                    margin-left: 0px;
                    background-position: center center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: @avatar-size;
                    height: @avatar-size;
                    min-width: @avatar-size;
                }
            }
        }

        a {
            color: @brand-color-dark;
            display: block;
            padding: 0px;
            &:hover { color: @active-color; }
        }

        .options {
            cursor: pointer;
            float: right;
            padding-top: 4px;
            > img {
                vertical-align: top;
            }

            &.hidden { visibility: hidden; }
        }
        .item:hover .options.hidden { visibility: visible; }
    }
}
#barTopFont {
    display: none;
}

.studip-logo {
    .hide-text();
    background-repeat: no-repeat;

    .retina-background-image('logos/studip4-logo.png', 'logos/studip4-logo@2x.png', 130px, 92px);
    background-image: none, url("@{image-path}/logos/studip4-logo.svg");

    background-size: 130px 92px;
    display: block;
    width: 130px;
    height: 92px;
}

#barTopStudip {
    position: absolute;
    bottom: -10px;
    right: 50px;
}

#barTopLogo {
    left: 0;
    position: absolute;
    top: 0;
}

#header {
    height: @header-height;
    background-color: @dark-gray-color-5;
}


#flex-header {
    position: relative;
}

/* --- public course marker ------------------------------------------------ */
#barBottomContainer.public_course {

    background-color: @public-course-bgcolor;

    #barBottommiddle, #barBottomright, #barBottomLeft {
        background-color: @public-course-bgcolor;

        .helpbar {
            background-color: @public-course-bgcolor;
        }
    }

    #barBottomright:before {
        #gradient > .horizontal(fadeout(@public-course-bgcolor, 100%), @public-course-bgcolor);
        background-color: fadeout(@public-course-bgcolor, 100%);
    }
}
