/* --- header.css ----------------------------------------------------------- */
#layout_wrapper {
    padding-top: @bar-bottom-container-height;
}
#barBottomContainer {
    background-color: @base-color;
    border: 1px @brand-color-darker;
    color: @contrast-content-white;
    border-bottom-style: solid;
    height: @bar-bottom-container-height;

    width: 100%;
    position: relative;

    .flex();
    .flex-direction-row();
    .flex-wrap(nowrap);
    .flex-justify-content(space-between);

    .translate(0, 0) !important; // We need !important due to the horizontal scroll handler
    position: fixed;
    top: 0px;
    z-index: 10000;

    #barBottomLeft,
    #barTopFont {
        padding: 0px 15px;
        z-index: 2;
    }
}


#layout_footer,
#barBottomright {
    a {
        color: @contrast-content-white;
        margin: 0 6px;
        text-decoration: none;
        &:hover { color: @contrast-content-hovergray; }
    }
}

#layout_footer {
    > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        height: 30px;
        padding: 0px;
        > li {
            margin: 2px;
        }
    }
}

#barBottomright {
    > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        height: 40px;
        padding: 0px;
        > li {
            margin: 2px;
            padding: 0px 10px;
        }
    }

    #quicksearch_item {

        input[type="text"] {
            height: 26px;
            width: 273px;
        }

        .quicksearchbutton {
            margin: 7px 8px;
        }
    }
}

#barTopAvatar {
    display: inline-flex;

    #avatar-arrow {
        position: relative;
        float: right;
        z-index: 1;
        margin: 7px 8px;
        cursor: pointer;
    }
}

#barTopAvatar, #header_avatar_menu {

    #header_avatar, .action-menu-icon {
        border: 1px solid @dark-gray-color-40;
        background: @dark-gray-color-5;
        height: 28px;
        width: 28px;
        z-index: 1;
        position: relative;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .action-menu-title{
        margin: 0em 0 0.3em;
    }

    .action-menu-content {
        z-index: 1002;
        position: absolute;
        top: 32px;
        right: -18px;
        /*padding: 4px 28px 4px 8px;*/
        background: #fff;
        box-shadow: 1px 1px 1px @dark-gray-color-60;
        text-align: left;
        white-space: nowrap;

        a:link,
        a:visited {
            color: @base-color;
        }
        a:hover,
        a:active {
            color: @active-color;
        }

        div {
            color: #000;
        }
    }
}

.header_avatar_container, #header_avatar_menu .action-menu-icon {
  z-index: 1003;
}

#notification_marker {
    //.transition(all 1s);
    width: 48px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    height: 28px;
    font-size: 0.8em;
    color: @base-color;
    text-align: center;
    line-height: 28px;
    vertical-align: text-bottom;
    background-color: @dark-gray-color-10;
    border: 1px solid @dark-gray-color-40;

    &.alert {
        border: thin solid @white;
        background-color: @public-course-bgcolor;
        color: @white;
    }
}

#notification_container {
    @arrow-height: 10px;

    @list-width: 400px;

    //.transition(all 1s);
    width: 49px;
    height: 30px;
    /*border: thin solid @dark-gray-color-20;*/
    color: @base-color;
    vertical-align: text-bottom;
    background-color: @base-color;
    position: relative;

    // Insert invisible padding on top of the arrow in order to try to
    // close the "mouse trap gap" created by the arrow as well as an invisible
    // 25px border to the left
    &:hover::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -@arrow-height;
        left: (-@list-width);
        right: 0;
        height: @arrow-height;
    }
    &:hover::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 25px;
    }

    .list, li&:hover .list { display: none; }
    &.hoverable:hover {
        .list { display: block; }
    }
    #notification_list {
        z-index: 1001;
        margin-top: 10px;
        ul {
            width: 100%;
            padding: 0;
        }
        .more {
            font-size: 0.8em;
            text-align: center;
        }
    }
    .list {
        // Creates an arrow pointing from the list to the triggering element
        #arrow > .top-border(10px, @white, 1px, @light-gray-color-80);

        background-color: @white;
        border-left: thin solid @light-gray-color-60;
        border-top: thin solid @light-gray-color-60;
        border-collapse: collapse;
        color: @black;
        display: none;
        font-size: 1em;
        position: absolute;
        width: @list-width;
        max-width: @list-width;
        .box-shadow(1px 1px 1px @light-gray-color-80);

        // Without this, buttons or message boxes would appear on top of the list
        z-index: 2;
        &::before, &::after {
            left: (@list-width - 20px);
        }

        // Positions: below or left'ish or right'ish to the triggering element
        &.below {
            left: (-@list-width + 40px);
        }
        &.left {
            right: 0px;
            &:before {
                left: auto;
                right: 4px;
            }
        }
        &.right {
            left: 0px;
            &:before { left: 4px; }
        }

        // List item
        .item {
            @padding: 5px;
            border-top: thin solid @light-gray-color-60;
            line-height: 20px;
            display: block;
            height: auto;
            padding: @padding;
            white-space: normal;

            &:hover { background-color: fadeout(@light-gray-color, 80%);}

            &:first-child:hover {
                #arrow > .top(10px, fadeout(@light-gray-color, 80%));
                margin-top: 0;
                &::before {
                    left: (@list-width - 20px);
                    z-index: 2;
                }
            }

            // First child: no top-border and but rounded corners
            &:first-child {
                border-top: 0;
            }
            .content {
                .flex();
                .flex-direction-row();
                .flex-wrap(nowrap);

                .avatar {
                    @avatar-size: 40px;
                    margin-right: 10px;
                    margin-left: 0px;
                    background-position: center center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: @avatar-size;
                    height: @avatar-size;
                    min-width: @avatar-size;
                }
            }
        }

        a {
            color: @brand-color-dark;
            display: block;
            padding: 0px;
            &:hover { color: @active-color; }
        }

        .options {
            cursor: pointer;
            float: right;
            padding-top: 4px;
            > img {
                vertical-align: top;
            }

            &.hidden { visibility: hidden; }
        }
        .item:hover .options.hidden { visibility: visible; }
    }
}
#barTopFont {
    color: @white;
    margin-left: 0px;
    z-index: 1002;
    position: absolute;
    left: 88px;
    top: 0px;
    line-height: @bar-bottom-container-height;
}

.studip-logo {
    .hide-text();
    background-repeat: no-repeat;

    .retina-background-image('logos/studip4-logo.png', 'logos/studip4-logo@2x.png', 130px, 92px);
    background-image: none, url("@{image-path}/logos/studip4-logo.svg");

    background-size: 130px 92px;
    display: block;
    width: 130px;
    height: 92px;
}

#barTopStudip {
    margin-left: 20px;
    margin-right: 12px;
}

#barTopLogo {
    left: 0;
    position: absolute;
    top: 0;
}


#flex-header {
    height: @header-height;
    background-color: @dark-gray-color-5;

    position: relative;
    z-index: 3;
}
