input.i18n, textarea.i18n {
  background-position: right 8px center;
  background-repeat: no-repeat;
}

div.i18n_group.single_lang {
  input, textarea {
    background-image: none !important;
  }
}

select.i18n {
  width: auto !important;
  background-repeat: no-repeat;
  background-position: left 2px center;
  -webkit-appearance: none;
  padding: 0px 2px 0px 28px !important;
  height: 22px;;
  option {
    background-repeat: no-repeat;
    padding-left: 28px !important;
    background-position: left center;
  }
}