.media-breakpoint-small-down({
  #layout_wrapper { min-width: 0 !important; }
  #index div.index_container .messagebox,
  #request_new_password div.index_container .messagebox,
  #web_migrate div.index_container .messagebox {
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }
});

.media-breakpoint-tiny-down({
    #barTopStudip img {
        height: 33px;
        margin-top: 5px;
        width: 153px;
    }
    #index, #request_new_password, #web_migrate {
        div.index_container {
            top: 0;

            .messagebox {
                margin-top: 120px;
                margin-left: 20px;
            }

            #background-desktop {
                display: none;
            }

            #background-mobile {
                display: block;
                margin-top: 85px;
            }

            div.index_main {
                margin-top: 36px;
                padding-left: 20px;
                padding-right: 20px;
                width: ~"calc(100% - 40px)";

                nav {
                    display: inline;
                }
            }
        }
    }
});
