table.default {
  tr.has-subcourses {
    box-shadow: 0 5px 5px -4px black;
  }
  tr.subcourses {

    &:last-child {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
      background-size: 100% 4px;
      background-position: bottom;
      background-repeat: no-repeat;
    }

    td:first-child {
      margin-left: 20px;
    }
    td:nth-child(2), td:nth-child(3), td:nth-child(4) {
      padding-left: 20px;
    }
  }
}
