@import url(../mixins/colors.less);

section.course-statusgroups {

  article {

    input.groupselector {
      float: left;
    }

    section {

      border-left: 5px solid @content-color-20;
      border-right: 5px solid @content-color-20;

      table {
        td {
          span.member-invisible {
            font-style: italic;
            color: @light-gray-color;
          }

          &.memberactions {
            text-align: right;
          }
        }
      }
    }
  }

  footer {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: #e7ebf1;
    border-top: 1px solid #000000;

    div.groupactions {
      margin-left: auto;
    }

  }

}
