section.course-statusgroups {

  input.groupselector {
    float: left;
  }

  td.memberactions {
    text-align: right;
  }

  footer {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: #e7ebf1;
    border-top: 1px solid #000000;

    div.groupactions {
      margin-left: auto;
    }

  }

}
