/*******************************************************************************
  Zusatz-CSS für die neuen Messageboxen
*******************************************************************************/

div.messagebox {
	margin: 5px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 15px 15px 15px 55px;
	border: 1px solid;
	position: relative;
	font-size: 12pt;
	font-weight: bold;
}

div.messagebox_buttons {
	position: absolute;
	right: 3px;
	top: 3px;
}

div.messagebox_info {
	color: #00529B;
	background-color: #bde5f8;
	background-image: url("../images/icons/icon_info.png");
}

div.messagebox_success {
	color: #4F8A10;
	background-color: #dff2bf;
	background-image: url("../images/icons/icon_success.png");
}

div.messagebox_warning {
	color: #D63301;
	background-color: #ffccba;
	background-image: url("../images/icons/icon_warning.png");
}

div.messagebox_error {
	color: #D8000C;
	background-color: #ffbaba;
	background-image: url("../images/icons/icon_error.png");
}
