BODY {font-family: Arial, Helvetica, sans-serif}

A:visited {	text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:link {text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:hover {text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:active {text-decoration : none; font-family: Arial, Helvetica, sans-serif;}

table.header {}

TD.angemeldet {border-style: solid; border-color: #000000;  border-width: 1px;}
TD.rahmen_white {border-style: solid; border-color: #000000;  border-width: 1px; background-color: #FFFFFF; background-image: url('../images/blank.gif');}
TD.rahmen_steel {border-style: solid; border-color: #000000;  border-width: 1px; background-image: url('../images/steel1.jpg');}
TD.rahmen_steelgraulight {border-style: solid; border-color: #000000;  border-width: 1px; background-image: url('../images/steelgraulight.jpg');}