/* <!-- $Id$ --> */

A:visited {	color:#213499; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:link {	color:#213499; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:hover {	color: #FF3333; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:active {color: #FF3333; text-decoration : none; font-family: Arial, Helvetica, sans-serif;}

A:link.links1 {	color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt;}
A:visited.links1 {color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt;}
A:hover.links1 {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

A:link.links1b { color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:visited.links1b { color: #000000; text-decoration : none; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:hover.links1b {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

A:link.links1a { color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:visited.links1a { color: #000000; text-decoration : none; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:hover.links1a {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

A:link.links1c { color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:visited.links1c { color: #000000; text-decoration : none; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:hover.links1c {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

A:link.index {	color: #444444; text-decoration: none;font-family: Arial, Helvetica, sans-serif;}
A:visited.index {color: #444444; text-decoration: none;font-family: Arial, Helvetica, sans-serif;}
A:hover.index {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;}

A:link.tree {color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-size:10pt;}
A:visited.tree {color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-size:10pt;}
A:hover.tree {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-size:10pt;}

.linksdisabled {color: #999999; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt;}


TD.shadowver {background-image: url('../images/shadowver.gif');}
TD.shadowhor {background-image: url('../images/shadowhor.gif');}
TD.shadowcor {background-image: url('../images/shadowcor.gif');}

TD.links1b {background-image: url('../images/steelblau4.jpg');}
TD.links1c {background-image: url('../images/steel1info.jpg');}
TD.links1 {background-image: url('../images/fill2.gif');}
TD.linksinfo {background-image: url('../images/steel1info.jpg');}
TD.links1a {background-image: url('../images/fill3.gif');}
TD.reiterunten {background-image: url('../images/reiter3.jpg');}

table.header { background-image: url('../images/fill1.gif');}
TABLE.links1 {	background-color: #FFFFFF;}

table.toolbar {background-image: url('../images/toolbarbg.gif');}
TD.toolbar {background-image: url('../images/toolbarbg.gif');}


A:link.toolbar {color: #91A2B6; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-size:9pt;}
A:visited.toolbar {color: #91A2B6; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-size:9pt;}
A:hover.toolbar {color: #EEEEEE;text-decoration: none;font-family: Arial, Helvetica, sans-serif ;font-size:9pt;}


TD.topic {border:0px solid #000000; background-image: url('../images/fill1.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#4A5681  }
TD.topicwrite {border:0px solid #000000; background-image: url('../images/fill1write.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#4A5681  }
TD.header {background-image: url('../images/fill1.gif');}
TD.angemeldet {border-style: solid; border-color: #000000;  border-width: 1px;}
TD.rahmen_white {border-style: solid; border-color: #000000;  border-width: 1px; background-color: #FFFFFF; background-image: url('../images/blank.gif');}
TD.rahmen_steel {border-style: solid; border-color: #000000;  border-width: 1px; background-image: url('../images/steel1.jpg');}
TD.rahmen_steelgraulight {border-style: solid; border-color: #000000;  border-width: 1px; background-image: url('../images/steelgraulight.jpg');}
TD.quote {border-style: solid; border-color: #000000;  border-width: 1px; font-size:8px;}
TD.nix {background-color: transparent;}
TD.aufklapp {background-color : #FFFAEE;}
TD.suche {background-image: url('../images/suche2.jpg');}

BODY { background-color: #91A2B6; background : url('../images/bathtile.jpg'); font-family: Arial, Helvetica, sans-serif}

/* the Body-Background color should be similar to A:link.toolbar and A:visited.toolbar for best effect!! */

TABLE.blank {	background-color: white;}

TD.blank {background-color: #FFFFFF;}

TD.onlineinfo {background-color: #FFFFFF; font-size: 10pt;}

TD.blanksmall {background-color: #FFFFFF; font-size: 10pt;}

TD.infobox {background-color: #dee2e8; 
				font-family:		Arial, Helvetica, sans-serif;
				font-size:			11px;
				font-weight:		normal;
				line-height: 		16px;
				text-align:			left;
}

TD.infoboxrahmen {border-style: solid; border-color: #CCCCCC;  border-width: 1px;}
th   { border:0px solid #000000; background:#B5B5B5 url('../images/steelgraudunkel.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#B5B5B5  }
p, td, form, ul {font-family: Arial, Helvetica, sans-serif;	color: #000000 }
h1, h2, h3 { font-family: Arial, Helvetica, sans-serif;	color: #213499;	font-weight: bold; }
h1.topic { font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: bold; font-size: 1.6em; margin-bottom: 0.1em; margin-top: 0.1em; padding: 0.1em; line-height: 1em}
h2.topic, h3.topic { font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: bold; font-size: 1.2em; margin-bottom: 0.1em; margin-top: 0.1em; padding: 0.1em; line-height: 1em}

.gruppe0 {background: none; background-color: #FFFFFF;}
.gruppe1 {background: none; background-color: #FF0000;}
.gruppe2 {background: none; background-color: #FF9933;}
.gruppe3 {background: none; background-color: #FFCC66;}
.gruppe4 {background: none; background-color: #99FF99;}
.gruppe5 {background: none; background-color: #66CC66;}
.gruppe6 {background: none; background-color: #6699CC;}
.gruppe7 {background: none; background-color: #666699;}

.steelgroup0 {background-image: url('../images/steelgroup0.gif');}
.steelgroup1 {background-image: url('../images/steelgroup1.gif');}
.steelgroup2 {background-image: url('../images/steelgroup2.gif');}
.steelgroup3 {background-image: url('../images/steelgroup3.gif');}
.steelgroup4 {background-image: url('../images/steelgroup4.gif');}
.steelgroup5 {background-image: url('../images/steelgroup5.gif');}
.steelgroup6 {background-image: url('../images/steelgroup6.gif');}
.steelgroup7 {background-image: url('../images/steelgroup7.gif');}

.white {background: none; background-color: #FFFFFF;	font-family: Arial, Helvetica, sans-serif;}
.lightgrey {background: none; background-color: #F8F8F8;	font-family: Arial, Helvetica, sans-serif;}
.grey {background: none; background-color: #BBBBBB;	font-family: Arial, Helvetica, sans-serif;}
.steel {background-image: url('../images/steelblau.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steelgraudunkel {background-image: url('../images/steelgraudunkel.gif');	font-family: Arial, Helvetica, sans-serif;}
.steelgraulight {background-image: url('../images/steelgraulight.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steelgraulight_shadow {background-image: url('../images/steelgraulight_shadow.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steel1kante {background-image: url('../images/steel1kante.gif');        font-family: Arial, Helvetica, sans-serif;}
.steelkante {background-image: url('../images/steelkante.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steelkante2 {background-image: url('../images/steelkante2.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steel2 { background-color: #FFFFFF; background-image: url('../images/steel2.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steel1 { background-color: #FFFFFF; background-image: url('../images/steel1.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steelblau_schatten { background-color: #FFFFFF; background-image: url('../images/steelblau_schatten.jpg');	font-family: Arial, Helvetica, sans-serif;}
.blue_gradient { background-color: #FFFFFF; background-image: url('../images/blue_gradient.jpg');	font-family: Arial, Helvetica, sans-serif;}
.quote {margin-left: 20px; padding:3px; margin-right: 8em; border: 1px solid black; background: none; background-color: #EEEEEE;}
.steelgelb {background-image: url('../images/steelgelb.jpg'); font-family: Arial, Helvetica, sans-serif;}
.steelgreen {background-image: url('../images/steelgruen.jpg'); font-family: Arial, Helvetica, sans-serif;}
.steelred {background-image: url('../images/steelrot.jpg'); font-family: Arial, Helvetica, sans-serif;}

/* Styles fuer printhead und printcontent */
td.printhead {background-image: url('../images/steelblau.jpg');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.printhead2 {background-image: url('../images/steelblau2.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.printhead3 {background-image: url('../images/steelblau3.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.colorline {background-image: url('../images/colorline.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.colorline2 {background-image: url('../images/colorline2.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
A:link.printhead {color:#333399;  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
A:visited.printhead {color:#333399;  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
a.printhead {color:#333399;  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.printcontent {background-image: url('../images/steel1.jpg');  font-family: Arial, Helvetica, sans-serif; font-size:10pt; text-align:left;}

/* Styles fuer Terminkalender */
a.day {color: #3333DD; font-weight: bold;}
a.sday {color :#DD0000; font-weight: bold;}
a.hday {color :#DD5555; font-weight: bold;}
a.daymin {color: #3333DD; font-size: 10pt; font-weight: bold;}
a.sdaymin {color: #DD0000; font-size: 10pt; font-weight: bold;}
a.hdaymin {color: #DD5555; font-size: 10pt; font-weight: bold;}
font.kwmin {color: #000000; font-size: 10pt; font-weight: bold;}
a.lightday {color: #8888DD; font-weight: bold;}
a.lightsday {color: #DDAAAA; font-weight: bold;}
a.lighthday {color: #DDAAAA; font-weight: bold;}
a.lightdaymin {color: #8888DD; font-size: 10pt; font-weight: bold;}
a.lightsdaymin {color: #DDAAAA; font-size: 10pt; font-weight: bold;}
a.lighthdaymin {color: #DDAAAA; font-size: 10pt; font-weight: bold;}
.inday {font-size: 8pt;}
.precol1w {font-size: 12pt; font-weight: bold; color: #AAAAAA; text-align: center;}
.precol2w {font-size: 8pt; font-weight: bold; color: #AAAAAA; text-align: center;}
td.calhead {font-size: 18pt; font-weight: bold; color: #AAAAAA; text-align: center;}
A:link.calhead {color: #8888DD; text-decoration: none;font-family: Arial, Helvetica, sans-serif;}
A:visited.calhead {color: #8888DD; text-decoration: none;font-family: Arial, Helvetica, sans-serif;}
A:hover.calhead {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;}
.celltoday {background-image: url('../images/celltoday.gif');}
th.inccal {font-size: 10pt;}
.precol1 {font-size: 14pt; font-weight: bold; text-align: center;}
.precol2 {font-size: 10pt; font-weight: bold; text-align: left;}
td.weekend {background-image: url('../images/steelcal.jpg');}
td.weekday {background-image: url('../images/steel1.jpg');	font-family: Arial, Helvetica, sans-serif;}
td.current {border-width: 2px; border-style: solid; border-color: #DD0000; background-image: url('../images/steelcal.jpg');}
td.currenttoday {border-width: 2px; border-style: solid; border-color: #DD0000; background-image: url('../images/celltoday.gif');}
td.month {background-image: url('../images/steelcal.jpg');}
td.lightmonth{background-image: url('../images/steel1.jpg');	font-family: Arial, Helvetica, sans-serif;}

/* Styles fuer TerminZeile */
table.tabdaterow {background-color: white; }
td.tddaterowp {border-style: solid; border-color: #FFFFFF;  border-width: 1px; background-image: url('../images/steelcal.jpg'); font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #009900;font-size:8pt;}
td.tddaterowpx {border-style: solid; border-color: #D00000;  border-width: 1px; background-image: url('../images/steelcal.jpg'); font-family: Arial, Helvetica, sans-serif;font-weight: bold; color: #009900;font-size:8pt;}


td.smiley_th   { border:0px solid #000000; background:#B5B5B5 url('../images/steelgraudunkel.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; background-color:#B5B5B5  }
td.smiley_redborder {border:1px solid #D00000;}

code  { font-size:10pt; }

span.button { float:left; margin-bottom:5px; margin-left:2px; margin-right:2px; text-align:center; width:100px;
         border-style:solid; border-width:1px; padding:2px; text-decoration:none; border-color:#AAAAAA; font-size: 9pt;
         background-image: url('../images/steelblau4.jpg');
		 }

span.button:link    { font-size: 9pt; color:#00f; background-color:transparent; background-image: url('../images/steelgraulight.jpg');}
span.button:visited { font-size: 9pt; color:#00f; background-color:transparent; background-image: url('../images/steelgraulight.jpg');}
span.button:hover   { font-size: 9pt; color:#FFFFFF; background-image: url('../images/steelgraudunkel.gif'); }
span.button:active  { font-size: 9pt; color:#f00; background-color:transparent; background-image: url('../images/steelblau4.jpg'); }

.headtable {height: 100px; background-image: url('../images/headerbackground4.jpg');margin-top: -20px;}

table.logintable {background-image: url('../images/login.jpg');}
td.indexpage {background-image: url('../images/indexpage.jpg'); text-align:left;}

div#headlogo {
 	width:128; height:98; background-image: url('../images/logoneu.jpg');
	float:left;

}

body { margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px }

.mainmenu {margin-top: 7px; text-align:left;}

div#unitext {
  float:left;
  margin-left: 16px;
  margin-top: 0px;
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}


ul#unilinks {
  height: 0px;
  float:right;
  margin-right: 4px;
  margin-top: 0px;
  width: 0px;
  min-width: 600px; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}
ul#unilinks li {
  color:#AAD;
  text-align:right; font-size: 9pt; font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  float:right;
  margin-right: 5px;
}
ul#unilinks a {
    display:block;
    padding: 0.2em;
    text-decoration: none; font-weight: bold;
    color: #7387ac; background-color: transparent;
}
ul#unilinks a:hover {
    color: #FFF; 
    background-image: url('../images/fill1.gif');
  }


li#studiplinks {
 margin-left: 0px;
 background-image:url('$navibereich[pic]')
}
  
ul#navilinks {
  height: 0px;
  float:left;
  margin-left: -46px;
  margin-right: 0px;
  margin-top: -15px;
  width: 0px;
  min-width: 850px; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}
ul#navilinks li {
  text-align:center; font-size: 10pt; font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  line-height:27px;
  float:left;
  /*background-image: url('../images/headnaviback1.gif');*/
}
ul#navilinks a {
    float:left;
    display:block;
    height: 45px;
    padding: 0.2em;
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    text-decoration: none; font-weight: bold;
    color: #7387ac; background-color: transparent;
}
ul#navilinks a:hover {
    float:left;
    display:block;
    height: 45px;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFF; 
    background-image: url('../images/headnaviback2.jpg');
  }


.button {
 border-style:solid; border-width:1px; 
 border-top-color:#cdd;
 border-left-color:#ccf;
 border-right-color:#bbF;
 border-bottom-color:#99b;
  }
  
.button:hover {
 border-style:solid; border-width:1px; 
 border-top-color:#f33;
 border-left-color:#f00;
 border-right-color:#f55;
 border-bottom-color:#f55;}


 
.titelbereich {
  margin-left: 27px;
  margin-top: -27px;
  font-weight: bold;
  color: #55A;
  text-align:left; font-size: 18pt; font-family: Arial, Helvetica, sans-serif;
  float:left;
	
}

.bereichsname {
  height: 23px;
  margin-top: -24px;
  padding-left: 8px;
  padding-top: 3px;
  width: 500px;
  color: #e3e8ed;
  text-align:left; font-size: 15pt; font-family: 'Times New Roman',Times,serif;
  background-image: url('../images/bereichsback.gif');
}

.positionbartable {height: 18px; background-image: url('../images/positionbar.jpg');margin-top: -2px;}

div#positionbar {
  color:#aeb9cf;
  text-align:right; font-size: 10pt; font-family: Arial, Helvetica, sans-serif;
  float:left;
  margin-right: 0px;
  margin-left: -100px;
  margin-top: 20px;
  width: 235px; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
  background-color: #5c739f;
}

span.searchbar {
  color:#aeb9cf;
  text-align:right; font-size: 10pt; font-family: Arial, Helvetica, sans-serif;
  float:left;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  width: 100%; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
  background-color: #7387ad;
}

div.selectbox {
  background-color:#FFFFFF;
  font-size: 10pt;
  border: 1px solid;
  padding: 5px;
  margin: 5px;
  height: 200px;
  width: 550px;
  overflow: auto;
}
