A:visited {	color:#3333BB; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:link {	color:#3333BB; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;} 
A:hover {	color: #FF3333; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:active {color: #FF3333; text-decoration : none; font-family: Arial, Helvetica, sans-serif;}

TABLE.links1 {	background-color: #FFFFFF;}

A:link.links1 {	color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt;}
A:visited.links1 {color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt;}
A:hover.links1 {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

A:link.links1b { color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:visited.links1b { color: #000000; text-decoration : none; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:hover.links1b {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

TD.links1b {background : url(../pictures/kaverl1b.jpg);}
TD.links1 {background: url(../pictures/fill2.gif);}

table.header { background-image: url(../pictures/fill1.gif);}

TD.topic {background: url(../pictures/fill1.gif); border-style: solid; border-color: #000000;  border-width: 0px; background-color: #B5B5B5; 	color: #FFFFFF; 	font-family: Arial, Helvetica, sans-serif;  }
TD.header {background: url(../pictures/fill1.gif); border-style: solid; border-color: #000000;  border-width: 0px; background-color: #B5B5B5; 	color: #FFFFFF; 	font-family: Arial, Helvetica, sans-serif;  }
TD.angemeldet {border-style: solid; border-color: #000000;  border-width: 1px;}
TD.nix {background-color : transparent;}
BODY {	background-color : #FFF5EE;	background : url(../pictures/bathtile.jpg);	font-family: Arial, Helvetica, sans-serif;}
TD {	background-color: #EEEEEE;}

TABLE.blank {	background-color: white;}

TD.blank {	background-color: #FFFFFF;}
th   { background: url(../pictures/fill2.gif); border-style: solid; border-color: #000000;  border-width: 0px; background-color: #B5B5B5; 	color: #FFFFFF; 	font-family: Arial, Helvetica, sans-serif;  }
p, td, form, ul {font-family: Arial, Helvetica, sans-serif;	color: #000000; }
h1, h2, h3 { font-family: Arial, Helvetica, sans-serif;	color: #213499;	font-weight: bold; }
