// out: style.css

#stream-container {
    padding: 5px;
    margin: 5px;
    max-height: 800px;
    overflow-y: auto;

    .activity {
        border: 1px solid #d0d7e3;
        width: 98%;
        margin: 10px 2px;
    }

    .activity header {
        //background-color:#e7ebf1;
        color: #28497c;
        padding: 5px;
        display: flex;

        .provider_circle {
            border-radius: 50%;
            width: 48px;
            height: 48px;
            background: @base-color;

            img {
                padding: 12px;
                width: 24px;
            }
        }
    }

    .activity header h1 {
        padding: 5px;
        margin-top: 12px;
        color: #28497c;
        border-bottom: none;
        font-size: 14px;
        flex-grow: 1;

    }

    .activity header nav {
        padding: 5px;
        margin: 0;
        color: #28497c;
        text-align: right;
    }


    .activity-content{
        padding: 5px;
        background-color: white;
    }

    .activity-description {
        margin-left: 54px;

    }


    .clear {
        clear: both;
    }

    .activity-date, .activity-details {
        display: block;
    }

    .activity-details {
        max-height: 200px;
        overflow: hidden;
    }

    footer {
        //border-top: 1px solid @light-gray-color-20;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;


        .activity-object-link, .activity-avatar-container-footer {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
        }
    }


    .activity-object-link ul {
        padding: 0px;
    }

    .activity-object-link ul li {
        list-style-type: none;
        display: inline;
        padding-right: 15px;
    }


    .activity-day {
        color: gray;
        font-size: 0.75em ;
        margin: 0 45%;
    }

    /* Loading animation */
    .loading-indicator {
        text-align: center;
        padding: 1em 0;
    }

    .loading-indicator span {
        background-color: #CCCCDD;
        border-radius: 50%;
        height: 10px;
        position: relative;
        width: 10px;
        display: inline-block;
    }

    .loading-indicator span.load-1 {
        animation: loading-animation-1 1s linear 20;
    }

    .loading-indicator span.load-2 {
        animation: loading-animation-2 1s linear 20;
    }

    .loading-indicator span.load-3 {
        animation: loading-animation-3 1s linear 20;
    }
}

@keyframes loading-animation-1 {
  0%   { transform: scale(1); }
  16%  { transform: scale(1.3); }
  33%  { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes loading-animation-2 {
  0%   { transform: scale(1); }
  33%  { transform: scale(1); }
  49%  { transform: scale(1.3); }
  65%  { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes loading-animation-3 {
  0%   { transform: scale(1); }
  66%  { transform: scale(1); }
  81%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}
