@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-light.eot');
  src: url('../../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/lato/lato-light.woff') format('woff'),
       url('../../fonts/lato/lato-light.ttf') format('truetype');
//       url('../../fonts/lato/latolatinlight-regular-webfont.svg#lato_latin_lightregular') format('svg');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-regular.eot');
  src: url('../../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/lato/lato-regular.woff') format('woff'),
       url('../../fonts/lato/lato-regular.ttf') format('truetype');
//       url('../../fonts/lato/latolatin-regular-webfont.svg#lato_latinregular') format('svg');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-bold.eot'); 
  src: url('../../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/lato/lato-bold.woff') format('woff'),
       url('../../fonts/lato/lato-bold.ttf') format('truetype');
//       url('../../fonts/lato/latolatin-bold-webfont.svg#lato_latinbold') format('svg');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
