/* Tooltips for Stud.IP with CSS3 only -------------------------------------- */
%tooltip {
    @include arrow-bottom-border(9px, $light-gray-color-20, 1px, $light-gray-color-60, 5px);

    background-color: $light-gray-color-20;
    border: 2px solid $light-gray-color-60;
    border-radius: 4px;
    box-shadow: 0 1px 0 fade-out(#fff, 0.5) inset;
    font-size: $font-size-base;
    margin-bottom: 8px;
    max-width: 230px;
    opacity: 0.95;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-shadow: 0 1px 0 fade-out(#fff, 0.5);
    white-space: normal;
    z-index: 100;

    word-wrap: break-word;
    hyphens: auto;
}

.studip-tooltip {
    @extend %tooltip;
}

.tooltip {
    display: inline-block;
    position: relative;

    &.tooltip-icon {
        @include icon(before, info-circle, inactive);
    }
    &.tooltip-important {
        @include icon(before, info-circle, attention);
    }

    .tooltip-content {
        @extend %tooltip;
        display: none;
    }
    &:hover .tooltip-content {
        bottom: 100%;
        display: inline-block;
        left: 50%;
        margin-left: -129px;
        width: 230px;
    }
}
